.App {
    align-items: center;
    justify-content: center;
}

div {
    display: flex;
    flex-direction: column;
}

.Body {
    font-size: 18px;
}

.Title {
    font-size: 22px;
    font-weight: bold;
}

.Error {
    color: #ff0033;
}

@media screen and (min-width: 700px) and (min-height: 800px) {
    .Body {
        font-size: 20px;
    }

    .Title {
        font-size: 24px;
    }
}

.YouWon {
    margin-top: 64px;
}

@media screen and (min-height: 800px) {
    .YouWon {
        margin-top: 0;
    }
}
